<?xml version="1.0" encoding="utf-8"?>
<Member Key="5a1abf5f-53fd-4974-89b2-bb018ff1bb0b" Alias="greta@dalyweb.com" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GretaG</Path>
    <Trashed>false</Trashed>
    <ContentType>Member</ContentType>
    <CreateDate>2022-08-22T18:12:08</CreateDate>
    <NodeName Default="Greta G." />
    <SortOrder>1</SortOrder>
    <Email>greta@dalyweb.com</Email>
    <Username>greta@dalyweb.com</Username>
    <MemberType>Member</MemberType>
    <RawPassword>AQAAAAEAACcQAAAAEMqJ0hQfWvdfFzzFKwSJ3Iqa6GyrT6vfNseeF7cVOTFf3lu+BMh7dyJHUzoCZaVyqg==</RawPassword>
  </Info>
  <Properties>
    <campaignActivities>
      <Value><![CDATA[]]></Value>
    </campaignActivities>
    <siteMemberFirstName>
      <Value><![CDATA[Greta]]></Value>
    </siteMemberFirstName>
    <siteMemberLastName>
      <Value><![CDATA[Garbo]]></Value>
    </siteMemberLastName>
    <siteMemberPhoneNumber>
      <Value><![CDATA[]]></Value>
    </siteMemberPhoneNumber>
    <siteMemberProfileImage>
      <Value><![CDATA[]]></Value>
    </siteMemberProfileImage>
    <umbracoMemberComments>
      <Value><![CDATA[]]></Value>
    </umbracoMemberComments>
  </Properties>
  <Groups />
</Member>