<?xml version="1.0" encoding="utf-8"?>
<Member Key="790a0c48-2136-4255-9941-9a96db15c67c" Alias="volunteer@dalyweb.com" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CampaignVolunteer</Path>
    <Trashed>false</Trashed>
    <ContentType>Member</ContentType>
    <CreateDate>2022-08-21T17:52:30</CreateDate>
    <NodeName Default="Campaign Volunteer" />
    <SortOrder>0</SortOrder>
    <Email>volunteer@dalyweb.com</Email>
    <Username>volunteer@dalyweb.com</Username>
    <MemberType>Member</MemberType>
    <RawPassword>AQAAAAEAACcQAAAAEMFxNqZm1nlM+/THjmhLKn7YcwyxABa0bim1H77KVi/x+gOkQTh2lMLzzdfIH6uIwg==</RawPassword>
  </Info>
  <Properties>
    <campaignActivities>
      <Value><![CDATA[]]></Value>
    </campaignActivities>
    <siteMemberFirstName>
      <Value><![CDATA[]]></Value>
    </siteMemberFirstName>
    <siteMemberLastName>
      <Value><![CDATA[]]></Value>
    </siteMemberLastName>
    <siteMemberPhoneNumber>
      <Value><![CDATA[]]></Value>
    </siteMemberPhoneNumber>
    <siteMemberProfileImage>
      <Value><![CDATA[]]></Value>
    </siteMemberProfileImage>
    <umbracoMemberComments>
      <Value><![CDATA[]]></Value>
    </umbracoMemberComments>
  </Properties>
  <Groups>
    <Group>Campaign</Group>
    <Group>Volunteer</Group>
  </Groups>
</Member>