/*
    Fleming for Putnam
    Teal is 0093DD
Navy is 0D004C


    carmel dem colors
    darkest blue: #07074E
    lightest blue: #97DAf8
    blue: #265289
    
*/


.site-home-icon {
    color: #07074E;
}

.site-text-primary {
    color: #07074E;
}


.site-text-light {
    color: white !important;
}

.site-text-large {
    font-size: 1.25rem;
}


.site-text-secondary {
    color: #07074E;
}

.site-btn-primary {
    background-color: #07074E;
    border-color: #265289;
}


.site-btn-secondary {
    background-color: #265289;
    border-color: #265289;
}


.site-btn-outline-secondary {

    border-color: #265289;
}

.site-header {
    background-color: #0093DD;
}

.site-footer {
    border-top: 3px solid #0093DD;
}

.site-navbar {
    
}

.site-nav {
    font-size: 1.1rem;
}

.site-body-main {
    min-height: 448px;
}

.site-page-timestamp {
    font-size: 0.75rem;
    font-style:italic;
}

.site-primary {
    color: #0D004C;
}

.site-info {
    color: #0093DD;
}