

/**umb_name:Heading 1*/
.site-heading1 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
	color: #0D004C;
	font-size: calc(1.375rem + 1.5vw);
}

/**umb_name:Heading 2*/
.site-heading2 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
	color: #0D004C;
	font-size: calc(1.325rem + 0.9vw);
}

/**umb_name:Heading 3*/
.site-heading3 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
	font-size: calc(1.3rem + 0.6vw);
	color: #0D004C;
}

/**umb_name:Heading 4*/
.site-heading4 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
	font-size: calc(1.275rem + 0.3vw);
	color: #0D004C;
}

/**umb_name:Heading 1 Teal*/
.site-heading1-teal {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
	color: #0093DD;
	font-size: calc(1.375rem + 1.5vw);
}

/**umb_name:Heading 2 Teal*/
.site-heading2-teal {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
	color: #0093DD;
	font-size: calc(1.325rem + 0.9vw);
}

/**umb_name:Heading 3 Teal*/
.site-heading3-teal {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
	color: #0093DD;
	font-size: calc(1.3rem + 0.6vw);
}

/**umb_name:Heading 4 Teal*/
.site-heading4-teal {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
	color: #0093DD;
	font-size: calc(1.275rem + 0.3vw);
}

/**umb_name:Text Navy*/
.site-text-navy {
	color:#0D004C;
}

/**umb_name:Text Teal*/
.site-text-teal {
	color:#0093DD;
}
