<?xml version="1.0" encoding="utf-8"?>
<Content Key="53ab6e5c-bab2-44bd-9033-6ee40e134de0" Alias="CDNY Endorses Fleming" Level="3">
  <Info>
    <Parent Key="ea1289a5-fb4f-4382-89d8-184771080b6f">News</Parent>
    <Path>/Home/News/CDNYEndorsesFleming</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItemPage</ContentType>
    <CreateDate>2022-08-27T23:47:00</CreateDate>
    <NodeName Default="CDNY Endorses Fleming" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="38c819e7-b2bc-45f4-994f-ad7c13a936c5">NewsItemPage</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "787eb9fb-2ba0-4ad3-85db-99586b362c09",
    "mediaKey": "7fa2c23f-d58f-4ffc-9962-b6153c896db3"
  }
]]]></Value>
    </mainImage>
    <metaAuthor>
      <Value><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pagePhotoGalleryPicker>
      <Value><![CDATA[]]></Value>
    </pagePhotoGalleryPicker>
    <subTitle>
      <Value><![CDATA[]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[CDNY Proudly Endorses Maureen Fleming for Putnam County Legislature District 5.]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>