<?xml version="1.0" encoding="utf-8"?>
<Content Key="84eeaa05-4967-4d59-be83-d87c19101c77" Alias="Contact" Level="2">
  <Info>
    <Parent Key="97b9bf00-9ad9-4777-94e3-a3db81902e9b">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2022-08-26T17:53:51</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="19c8d0c4-343e-41f2-8c95-c3881dcc757e">ContactPage</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXMLSitemap>
    <metaAuthor>
      <Value><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[Contact the Fleming for Putnam Campaign]]></Value>
    </metaTitle>
    <subTitle>
      <Value><![CDATA[]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Contact]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>