<?xml version="1.0" encoding="utf-8"?>
<Content Key="c76f372e-c651-4f4b-9749-8392e5e23a46" Alias="Error" Level="2">
  <Info>
    <Parent Key="97b9bf00-9ad9-4777-94e3-a3db81902e9b">Home</Parent>
    <Path>/Home/Error</Path>
    <Trashed>false</Trashed>
    <ContentType>errorPage</ContentType>
    <CreateDate>2022-08-24T14:53:57</CreateDate>
    <NodeName Default="Error" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8f752c07-84be-412e-a663-f8a889676f1c">ErrorPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[1]]></Value>
    </hideFromNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXMLSitemap>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>