<?xml version="1.0" encoding="utf-8"?>
<Content Key="97b9bf00-9ad9-4777-94e3-a3db81902e9b" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2022-08-21T02:46:38</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-us">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="b3f08a9d-a6d8-4853-ba54-61b28ceb679a">HomePage</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <footerBackgroundColor>
      <Value><![CDATA[{
  "value": "eeeeee",
  "label": "Light Gray",
  "sortOrder": "10",
  "id": "6"
}]]></Value>
    </footerBackgroundColor>
    <footerImage>
      <Value><![CDATA[[
  {
    "key": "463d78bf-8fb1-485c-97a7-aa3a5bcce214",
    "mediaKey": "6b585ec2-e30b-4476-a6ef-3111b57c1a28",
    "crops": [
      {
        "alias": "defaultImage",
        "label": "Default Image",
        "coordinates": {
          "x1": "0",
          "y1": "0.003459960239347349",
          "x2": "0",
          "y2": "0.007420356278951245"
        }
      }
    ]
  }
]]]></Value>
    </footerImage>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3249e993aa224cf0ab3d1fda1130dfed",
        "settingsUdi": "umb://element/4c2a83b6e6074863b55bea918be1de87"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0668d1c2-cee6-4878-a815-95d8e3161aad",
      "udi": "umb://element/3249e993aa224cf0ab3d1fda1130dfed",
      "title": "The Proven Leader Putnam Needs!",
      "heroImage": [
        {
          "key": "93461dd5-2ed4-4680-8dd7-86b2d6c43992",
          "mediaKey": "8ad8c7c1-b39b-43a8-ba10-6f1e5f062bf7"
        }
      ],
      "callToActions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ca1bd27589194af9bd3e1b565019ec3b",
              "settingsUdi": "umb://element/c3f592ee879e4211b6a25d158aeaf75e"
            },
            {
              "contentUdi": "umb://element/6698919ddcb54cddaf0dd6d2aa6604ee",
              "settingsUdi": "umb://element/bc7027316ef04562b62d5d84f0c32b84"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "de7a776b-27b5-4c9d-bd93-4cc6a4acd851",
            "udi": "umb://element/ca1bd27589194af9bd3e1b565019ec3b",
            "link": [
              {
                "name": "Donate",
                "udi": "umb://document/c129bae3c8294f139753a06d6d82d9e3"
              }
            ]
          },
          {
            "contentTypeKey": "de7a776b-27b5-4c9d-bd93-4cc6a4acd851",
            "udi": "umb://element/6698919ddcb54cddaf0dd6d2aa6604ee",
            "link": [
              {
                "name": "Volunteer",
                "udi": "umb://document/54d768fc24004ebc834c0e0989a461fa"
              }
            ]
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "60869c66-8dc6-42e0-8c57-8de19c64f45b",
            "udi": "umb://element/c3f592ee879e4211b6a25d158aeaf75e",
            "style": [
              "button-primary"
            ],
            "hide": "0"
          },
          {
            "contentTypeKey": "60869c66-8dc6-42e0-8c57-8de19c64f45b",
            "udi": "umb://element/bc7027316ef04562b62d5d84f0c32b84",
            "style": [
              "button-outline-primary"
            ],
            "hide": "0"
          }
        ]
      },
      "ledeText": "As the Supervisor to the Town of Kent for eight years, Maureen delivered on a promise of no new taxes!"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d279e666-2b40-42f4-b8b1-64e908531a9d",
      "udi": "umb://element/4c2a83b6e6074863b55bea918be1de87",
      "heroType": [
        "Responsive Right"
      ],
      "titleColor": [
        "info"
      ],
      "hide": "0"
    }
  ]
}]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "1243d2a7-6d05-4894-801b-5fe56feb318b",
    "mediaKey": "8ad8c7c1-b39b-43a8-ba10-6f1e5f062bf7"
  }
]]]></Value>
    </mainImage>
    <metaAuthor>
      <Value><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value><![CDATA[Elect Maureen Fleming to the Putnam County Legislature District 5]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[[
  "Town of Carmel",
  "Town of Kent",
  "Putnam County",
  "Carmel",
  "Kent",
  "District 5",
  "Putnam Legislature",
  "Campaign"
]]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[The leader Putnam County needs!]]></Value>
    </metaTitle>
    <siteCopyright>
      <Value><![CDATA[Copyright Maureen Fleming]]></Value>
    </siteCopyright>
    <siteName>
      <Value><![CDATA[Fleming for Putnam]]></Value>
    </siteName>
  </Properties>
</Content>