<?xml version="1.0" encoding="utf-8"?>
<Content Key="3e412e2a-0fad-4477-b1db-498ec923aa5b" Alias="Issues" Level="2">
  <Info>
    <Parent Key="97b9bf00-9ad9-4777-94e3-a3db81902e9b">Home</Parent>
    <Path>/Home/Issues</Path>
    <Trashed>false</Trashed>
    <ContentType>richTextPage</ContentType>
    <CreateDate>2022-08-29T14:51:34</CreateDate>
    <NodeName Default="Issues" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d225d704-8ec4-4dad-9037-1b661156e103">RichTextPage</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <metaAuthor>
      <Value><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pagePhotoGalleryPicker>
      <Value><![CDATA[]]></Value>
    </pagePhotoGalleryPicker>
    <subTitle>
      <Value><![CDATA[]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Issues]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>