<?xml version="1.0" encoding="utf-8"?>
<Content Key="5a261cd8-fac0-471d-a7b1-abd3e026e51f" Alias="Login" Level="2">
  <Info>
    <Parent Key="97b9bf00-9ad9-4777-94e3-a3db81902e9b">Home</Parent>
    <Path>/Home/Login</Path>
    <Trashed>false</Trashed>
    <ContentType>loginPage</ContentType>
    <CreateDate>2022-08-22T17:27:57</CreateDate>
    <NodeName Default="Login" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b3813c7b-b53f-49ed-8541-3072751fb5f8">LoginPage</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <hideFromNavigation>
      <Value><![CDATA[1]]></Value>
    </hideFromNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <metaAuthor>
      <Value><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>