<?xml version="1.0" encoding="utf-8"?>
<Content Key="08966466-8139-4eb7-b5b9-fe116527bbb0" Alias="Member Profile" Level="2">
  <Info>
    <Parent Key="97b9bf00-9ad9-4777-94e3-a3db81902e9b">Home</Parent>
    <Path>/Home/MemberProfile</Path>
    <Trashed>false</Trashed>
    <ContentType>memberProfilePage</ContentType>
    <CreateDate>2022-08-22T18:18:45</CreateDate>
    <NodeName Default="Member Profile" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bce9eb6b-a6dd-4e28-87cc-db2a5f7044e2">MemberProfilePage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[1]]></Value>
    </hideFromNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>