<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ec79126-df08-47a2-81f4-2012c8661cb2" Alias="Photos" Level="2">
  <Info>
    <Parent Key="97b9bf00-9ad9-4777-94e3-a3db81902e9b">Home</Parent>
    <Path>/Home/Photos</Path>
    <Trashed>false</Trashed>
    <ContentType>photosPage</ContentType>
    <CreateDate>2022-08-26T02:05:39</CreateDate>
    <NodeName Default="Photos" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6207ac99-6f66-4995-ac3f-db324053da71">PhotosPage</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <metaAuthor>
      <Value><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <multiTreePicker>
      <Value><![CDATA[umb://media/81ba70503fea49b4825b9f3c8c845d71]]></Value>
    </multiTreePicker>
    <subTitle>
      <Value><![CDATA[]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Photos]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>