<?xml version="1.0" encoding="utf-8"?>
<Content Key="54d768fc-2400-4ebc-834c-0e0989a461fa" Alias="Volunteer" Level="2">
  <Info>
    <Parent Key="97b9bf00-9ad9-4777-94e3-a3db81902e9b">Home</Parent>
    <Path>/Home/Volunteer</Path>
    <Trashed>false</Trashed>
    <ContentType>volunteerPage</ContentType>
    <CreateDate>2022-08-28T20:10:49</CreateDate>
    <NodeName Default="Volunteer" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a21ede0d-83cf-4edf-813f-96e5ecb79f71">VolunteerPage</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <mainContent>
      <Value><![CDATA[<p style="text-align: left;"><span class="site-heading2-teal">How can you help?</span></p>
<p>Share a news article, photos, event of other news from this website on social media.</p>]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "fbe46236-46db-4657-a545-9db6be543729",
    "mediaKey": "e02ee855-f3d9-41f2-acd7-a79ee1a3dabb"
  }
]]]></Value>
    </mainImage>
    <metaAuthor>
      <Value><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pagePhotoGalleryPicker>
      <Value><![CDATA[]]></Value>
    </pagePhotoGalleryPicker>
    <subTitle>
      <Value><![CDATA[Join the fight and help elect Maureen Fleming to the Putnam County Legislature, District 5.]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Are you ready to take action?]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>