<?xml version="1.0" encoding="utf-8"?>
<User Key="00000003-0000-0000-0000-000000000000" Alias="adaly@dalyweb.com">
  <Info>
    <Comments />
    <Name>ADaly Editor</Name>
    <Username>adaly@dalyweb.com</Username>
    <Email>adaly@dalyweb.com</Email>
    <EmailConfirmed>2022-08-25T09:14:49.287Z</EmailConfirmed>
    <FailedAttempts>0</FailedAttempts>
    <Approved>true</Approved>
    <LockedOut>false</LockedOut>
    <Language>en-US</Language>
    <RawPassword>AQAAAAEAACcQAAAAEBHZu6p4dCzzwaDl/Zx1kqgWSXR64UdLiH7/0Xr6YG2x9jnsCnT2zT+jqA6hshlaEQ==</RawPassword>
  </Info>
  <Groups>
    <Group>
      <Alias>writer</Alias>
    </Group>
    <Group>
      <Alias>editor</Alias>
    </Group>
    <Group>
      <Alias>translator</Alias>
    </Group>
  </Groups>
</User>