<?xml version="1.0" encoding="utf-8"?>
<User Key="00000002-0000-0000-0000-000000000000" Alias="editor@labobjects.com">
  <Info>
    <Comments />
    <Name>Editor User</Name>
    <Username>editor@labobjects.com</Username>
    <Email>editor@labobjects.com</Email>
    <EmailConfirmed />
    <FailedAttempts>0</FailedAttempts>
    <Approved>false</Approved>
    <LockedOut>false</LockedOut>
    <Language>en-US</Language>
    <RawPassword>___UIDEMPTYPWORD__AQAAAAEAACcQAAAAEBllkoSFx8ZjoHae0qnFTldJ+K5kLCeVG2tvlV75KEkFVb9nWlsW9R/3WCpYrUJNBw==</RawPassword>
  </Info>
  <Groups>
    <Group>
      <Alias>writer</Alias>
    </Group>
    <Group>
      <Alias>editor</Alias>
    </Group>
    <Group>
      <Alias>translator</Alias>
    </Group>
  </Groups>
</User>