<?xml version="1.0" encoding="utf-8"?>
<User Key="ffffffff-0000-0000-0000-000000000000" Alias="support@dalyweb.com">
  <Info>
    <Comments />
    <Name>Administrator</Name>
    <Username>support@dalyweb.com</Username>
    <Email>support@dalyweb.com</Email>
    <EmailConfirmed />
    <FailedAttempts>0</FailedAttempts>
    <Approved>true</Approved>
    <LockedOut>false</LockedOut>
    <Language>en-US</Language>
    <RawPassword>AQAAAAEAACcQAAAAEL/icrJyM4f0gOXtbYV9tOM4yKSlf+XQuofYwAKq6sJ+OAIqDHmeYAkH9yzOB+YI7w==</RawPassword>
  </Info>
  <Groups>
    <Group>
      <Alias>admin</Alias>
    </Group>
    <Group>
      <Alias>sensitiveData</Alias>
    </Group>
  </Groups>
</User>