<?xml version="1.0" encoding="utf-8"?>
<Media Key="17808f97-3a27-4e32-84bc-6d104f45275d" Alias="Candidate" Level="2">
  <Info>
    <Parent Key="2c1d167e-42de-47df-a037-54506c55fedb">Campaign</Parent>
    <Path>/Campaign/Candidate</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-08-21T20:24:21</CreateDate>
    <NodeName Default="Candidate" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>