<?xml version="1.0" encoding="utf-8"?>
<Media Key="6867b2b6-7505-4dc6-bf41-6d501091151e" Alias="Carmeldemsfavicon" Level="4">
  <Info>
    <Parent Key="947de522-d2b0-4a98-8a5e-31485cb2c058">Carmel Democrats</Parent>
    <Path>/Campaign/Logos/CarmelDemocrats/Carmeldemsfavicon</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-21T20:26:46</CreateDate>
    <NodeName Default="Carmeldemsfavicon" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wczgo0af/carmeldemsfavicon.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>