<?xml version="1.0" encoding="utf-8"?>
<Media Key="ecc775a8-2ee9-4cd2-95fd-fd29af75bf08" Alias="Carmeldems Icon" Level="4">
  <Info>
    <Parent Key="947de522-d2b0-4a98-8a5e-31485cb2c058">Carmel Democrats</Parent>
    <Path>/Campaign/Logos/CarmelDemocrats/CarmeldemsIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-21T20:27:18</CreateDate>
    <NodeName Default="Carmeldems Icon" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vz0np1hj/carmeldems-icon.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>