<?xml version="1.0" encoding="utf-8"?>
<Media Key="947de522-d2b0-4a98-8a5e-31485cb2c058" Alias="Carmel Democrats" Level="3">
  <Info>
    <Parent Key="d9afefda-1ca3-42c7-b8f2-9de123a3ac61">Logos</Parent>
    <Path>/Campaign/Logos/CarmelDemocrats</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-08-26T05:24:28</CreateDate>
    <NodeName Default="Carmel Democrats" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties />
</Media>