<?xml version="1.0" encoding="utf-8"?>
<Media Key="8db199af-bc6c-4f7f-b9f3-61dad8a63ccd" Alias="CDNY Letter Of Endorsement Putnam County Legislative District 5" Level="3">
  <Info>
    <Parent Key="94c9d303-2fdf-4844-9852-9e8917919bd9">Endorsements</Parent>
    <Path>/PhotoGallery/Endorsements/CDNYLetterOfEndorsementPutnamCountyLegislativeDistrict5</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2022-08-27T21:10:09</CreateDate>
    <NodeName Default="CDNY Letter Of Endorsement Putnam County Legislative District 5" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qgmlddlm/cdny-letter-of-endorsement_-putnam-county-legislative-district-5.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>