<?xml version="1.0" encoding="utf-8"?>
<Media Key="15ea35bd-bb27-446b-9594-2fcf983f6937" Alias="Cdny Reedcleland Dembench" Level="3">
  <Info>
    <Parent Key="94c9d303-2fdf-4844-9852-9e8917919bd9">Endorsements</Parent>
    <Path>/PhotoGallery/Endorsements/CdnyReedclelandDembench</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-27T21:09:26</CreateDate>
    <NodeName Default="Cdny Reedcleland Dembench" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xm0pufjh/cdny_reedcleland_dembench.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>