<?xml version="1.0" encoding="utf-8"?>
<Media Key="305a6a22-76f0-4a4b-83b6-d2a6ea0b48d2" Alias="Democrats" Level="3">
  <Info>
    <Parent Key="d9afefda-1ca3-42c7-b8f2-9de123a3ac61">Logos</Parent>
    <Path>/Campaign/Logos/Democrats</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-08-26T05:23:44</CreateDate>
    <NodeName Default="Democrats" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties />
</Media>