<?xml version="1.0" encoding="utf-8"?>
<Media Key="40beaeef-1efc-4d3f-a67f-3159fc6acff9" Alias="Democrats Logo" Level="4">
  <Info>
    <Parent Key="305a6a22-76f0-4a4b-83b6-d2a6ea0b48d2">Democrats</Parent>
    <Path>/Campaign/Logos/Democrats/DemocratsLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-21T20:27:18</CreateDate>
    <NodeName Default="Democrats Logo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3gxl2qh2/democrats-logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>