<?xml version="1.0" encoding="utf-8"?>
<Media Key="94c9d303-2fdf-4844-9852-9e8917919bd9" Alias="Endorsements" Level="2">
  <Info>
    <Parent Key="117bcf56-adef-40cf-8791-9709d60f0ded">Photo Gallery</Parent>
    <Path>/PhotoGallery/Endorsements</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-08-27T21:09:08</CreateDate>
    <NodeName Default="Endorsements" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>