<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ff2d4fb-d0d5-4394-97ca-00dbf0c26fcc" Alias="Fleamingheadshotthumbnail" Level="3">
  <Info>
    <Parent Key="17808f97-3a27-4e32-84bc-6d104f45275d">Candidate</Parent>
    <Path>/Campaign/Candidate/Fleamingheadshotthumbnail</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-25T22:21:36</CreateDate>
    <NodeName Default="Fleamingheadshotthumbnail" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5xkpeh4v/fleamingheadshotthumbnail.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>