<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ad8c7c1-b39b-43a8-ba10-6f1e5f062bf7" Alias="Fleamingheadshothero" Level="3">
  <Info>
    <Parent Key="17808f97-3a27-4e32-84bc-6d104f45275d">Candidate</Parent>
    <Path>/Campaign/Candidate/Fleamingheadshothero</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-25T22:21:36</CreateDate>
    <NodeName Default="Fleamingheadshothero" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/y5dnrcu1/fleamingheadshothero.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>