<?xml version="1.0" encoding="utf-8"?>
<Media Key="20d400b4-caa7-40b6-839c-47615cc14145" Alias="Fleminginmeeting2" Level="3">
  <Info>
    <Parent Key="17808f97-3a27-4e32-84bc-6d104f45275d">Candidate</Parent>
    <Path>/Campaign/Candidate/Fleminginmeeting2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-25T09:49:07</CreateDate>
    <NodeName Default="Fleminginmeeting2" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wianiifh/fleminginmeeting2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>