<?xml version="1.0" encoding="utf-8"?>
<Media Key="2bebd55a-1a3c-44f1-8bb8-3ef558d5e15c" Alias="Fleminginmeeting1" Level="3">
  <Info>
    <Parent Key="81ba7050-3fea-49b4-825b-9f3c8c845d71">Website Photos</Parent>
    <Path>/PhotoGallery/WebsitePhotos/Fleminginmeeting1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-27T21:38:15</CreateDate>
    <NodeName Default="Fleminginmeeting1" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ltkpwkz2/fleminginmeeting1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>