<?xml version="1.0" encoding="utf-8"?>
<Media Key="4efef6c1-c22b-4adf-842a-71e1ede0a2df" Alias="Flemingforputnamlogoblue188x120 (1)" Level="3">
  <Info>
    <Parent Key="d9afefda-1ca3-42c7-b8f2-9de123a3ac61">Logos</Parent>
    <Path>/Campaign/Logos/Flemingforputnamlogoblue188x1201</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-25T22:21:35</CreateDate>
    <NodeName Default="Flemingforputnamlogoblue188x120 (1)" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/y51p2trl/flemingforputnamlogoblue188x120.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>