<?xml version="1.0" encoding="utf-8"?>
<Media Key="87117a53-1423-4a7a-8c57-ecb6b79af339" Alias="Flemingforputnam Logowhiteoutline Med" Level="4">
  <Info>
    <Parent Key="b4377808-610d-438c-8ee8-508cae181924">White Outline</Parent>
    <Path>/Campaign/Logos/WhiteOutline/FlemingforputnamLogowhiteoutlineMed</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-21T20:26:29</CreateDate>
    <NodeName Default="Flemingforputnam Logowhiteoutline Med" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kv3bdbzd/flemingforputnam_logowhiteoutline_med.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>