<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e3b9ba9-8e9d-40b5-9db0-233730f5b245" Alias="Flemingforputnam Logoblue Large (1)" Level="3">
  <Info>
    <Parent Key="d9afefda-1ca3-42c7-b8f2-9de123a3ac61">Logos</Parent>
    <Path>/Campaign/Logos/FlemingforputnamLogoblueLarge1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-25T22:21:37</CreateDate>
    <NodeName Default="Flemingforputnam Logoblue Large (1)" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/v4ndwtu3/flemingforputnam_logoblue_large.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>