<?xml version="1.0" encoding="utf-8"?>
<Media Key="e02ee855-f3d9-41f2-acd7-a79ee1a3dabb" Alias="Flemingofficiatingceromony" Level="3">
  <Info>
    <Parent Key="81ba7050-3fea-49b4-825b-9f3c8c845d71">Website Photos</Parent>
    <Path>/PhotoGallery/WebsitePhotos/Flemingofficiatingceromony</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-27T21:38:14</CreateDate>
    <NodeName Default="Flemingofficiatingceromony" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kpuc3ygz/flemingofficiatingceromony.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>