<?xml version="1.0" encoding="utf-8"?>
<Media Key="4c443deb-951f-4178-aeb2-105e67b9b387" Alias="Flemingforputnam Bannerlogotwobluewhite" Level="3">
  <Info>
    <Parent Key="d9afefda-1ca3-42c7-b8f2-9de123a3ac61">Logos</Parent>
    <Path>/Campaign/Logos/FlemingforputnamBannerlogotwobluewhite</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-25T22:21:37</CreateDate>
    <NodeName Default="Flemingforputnam Bannerlogotwobluewhite" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3u4fita5/flemingforputnam_bannerlogotwobluewhite.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>