<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d45133c-d997-4732-966d-206463bad0df" Alias="Fleminginmeeting2" Level="3">
  <Info>
    <Parent Key="81ba7050-3fea-49b4-825b-9f3c8c845d71">Website Photos</Parent>
    <Path>/PhotoGallery/WebsitePhotos/Fleminginmeeting2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-27T21:38:14</CreateDate>
    <NodeName Default="Fleminginmeeting2" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hijfk5mx/fleminginmeeting2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>