<?xml version="1.0" encoding="utf-8"?>
<Media Key="7657b96b-4f05-461a-9783-f389b13a6ce4" Alias="Flemingforputnamlogo Navywhite1582x1000" Level="4">
  <Info>
    <Parent Key="0e2e5a33-9132-48da-a92f-4a247909cfc9">Navy and White Logos</Parent>
    <Path>/Campaign/Logos/NavyAndWhiteLogos/FlemingforputnamlogoNavywhite1582x1000</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-26T05:21:56</CreateDate>
    <NodeName Default="Flemingforputnamlogo Navywhite1582x1000" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nw2fo3qf/flemingforputnamlogo_navywhite1582x1000.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>