<?xml version="1.0" encoding="utf-8"?>
<Media Key="272249c4-8031-4b27-860c-97d3c411cc25" Alias="Flemingforputnamsign" Level="3">
  <Info>
    <Parent Key="d9afefda-1ca3-42c7-b8f2-9de123a3ac61">Logos</Parent>
    <Path>/Campaign/Logos/Flemingforputnamsign</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-21T20:26:29</CreateDate>
    <NodeName Default="Flemingforputnamsign" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yjedejzr/flemingforputnamsign.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>