<?xml version="1.0" encoding="utf-8"?>
<Media Key="517a362d-eec7-4770-b5c5-d33f2e0e30c4" Alias="Fleming 300X266" Level="3">
  <Info>
    <Parent Key="81ba7050-3fea-49b4-825b-9f3c8c845d71">Website Photos</Parent>
    <Path>/PhotoGallery/WebsitePhotos/Fleming300X266</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-27T21:38:15</CreateDate>
    <NodeName Default="Fleming 300X266" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fm1huuoh/fleming-300x266.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>