<?xml version="1.0" encoding="utf-8"?>
<Media Key="026e93e6-592f-4889-96a6-e3cbf3f79165" Alias="Flemingfromputnamlogooneblue" Level="3">
  <Info>
    <Parent Key="d9afefda-1ca3-42c7-b8f2-9de123a3ac61">Logos</Parent>
    <Path>/Campaign/Logos/Flemingfromputnamlogooneblue</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-21T18:08:40</CreateDate>
    <NodeName Default="Flemingfromputnamlogooneblue" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2cjh2arp/flemingfromputnamlogooneblue.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>