<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b44ea3c-9bd6-498e-910c-31f0f2a3cefa" Alias="Flemingforputnamsignhero" Level="3">
  <Info>
    <Parent Key="d9afefda-1ca3-42c7-b8f2-9de123a3ac61">Logos</Parent>
    <Path>/Campaign/Logos/Flemingforputnamsignhero</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-25T22:21:36</CreateDate>
    <NodeName Default="Flemingforputnamsignhero" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hlvejc4w/flemingforputnamsignhero.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>