<?xml version="1.0" encoding="utf-8"?>
<Media Key="d9afefda-1ca3-42c7-b8f2-9de123a3ac61" Alias="Logos" Level="2">
  <Info>
    <Parent Key="2c1d167e-42de-47df-a037-54506c55fedb">Campaign</Parent>
    <Path>/Campaign/Logos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-08-21T20:24:12</CreateDate>
    <NodeName Default="Logos" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>