<?xml version="1.0" encoding="utf-8"?>
<Media Key="d691175d-b2eb-4628-934f-c3ae2787b62b" Alias="Maureenflemingredcoat" Level="3">
  <Info>
    <Parent Key="81ba7050-3fea-49b4-825b-9f3c8c845d71">Website Photos</Parent>
    <Path>/PhotoGallery/WebsitePhotos/Maureenflemingredcoat</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-27T21:38:14</CreateDate>
    <NodeName Default="Maureenflemingredcoat" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lmljdvxl/maureenflemingredcoat.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>