<?xml version="1.0" encoding="utf-8"?>
<Media Key="90f2ccf4-da29-4c65-b931-bf6a44952b36" Alias="Maureenflemingredcoat" Level="3">
  <Info>
    <Parent Key="17808f97-3a27-4e32-84bc-6d104f45275d">Candidate</Parent>
    <Path>/Campaign/Candidate/Maureenflemingredcoat</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-21T02:34:08</CreateDate>
    <NodeName Default="Maureenflemingredcoat" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4lgpfebj/maureenflemingredcoat.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>