<?xml version="1.0" encoding="utf-8"?>
<Media Key="e434b630-7ab4-4c47-aa10-6f95e3ef3594" Alias="Maureenandjim" Level="3">
  <Info>
    <Parent Key="81ba7050-3fea-49b4-825b-9f3c8c845d71">Website Photos</Parent>
    <Path>/PhotoGallery/WebsitePhotos/Maureenandjim</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-27T21:38:14</CreateDate>
    <NodeName Default="Maureenandjim" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/g01djzfu/maureenandjim.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>