<?xml version="1.0" encoding="utf-8"?>
<Media Key="92036894-15f5-43e2-9bd4-0923e02ce7f2" Alias="Maureenandfriends" Level="3">
  <Info>
    <Parent Key="81ba7050-3fea-49b4-825b-9f3c8c845d71">Website Photos</Parent>
    <Path>/PhotoGallery/WebsitePhotos/Maureenandfriends</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-27T21:38:14</CreateDate>
    <NodeName Default="Maureenandfriends" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sjuahexv/maureenandfriends.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>