<?xml version="1.0" encoding="utf-8"?>
<Media Key="62d36527-e54f-497c-b6c9-5207b90da29e" Alias="Maureenjimholdinghands" Level="3">
  <Info>
    <Parent Key="81ba7050-3fea-49b4-825b-9f3c8c845d71">Website Photos</Parent>
    <Path>/PhotoGallery/WebsitePhotos/Maureenjimholdinghands</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-27T21:38:14</CreateDate>
    <NodeName Default="Maureenjimholdinghands" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/efsngysp/maureenjimholdinghands.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>