<?xml version="1.0" encoding="utf-8"?>
<Media Key="61994fe6-6764-454c-a432-0d25dad6ecfd" Alias="Maureenflemingveterans2" Level="3">
  <Info>
    <Parent Key="81ba7050-3fea-49b4-825b-9f3c8c845d71">Website Photos</Parent>
    <Path>/PhotoGallery/WebsitePhotos/Maureenflemingveterans2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-27T21:38:15</CreateDate>
    <NodeName Default="Maureenflemingveterans2" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2bhjsyle/maureenflemingveterans2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>