<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0025e58-af54-4f7b-9879-a03a173c732d" Alias="Maureenflemingveterans3" Level="3">
  <Info>
    <Parent Key="81ba7050-3fea-49b4-825b-9f3c8c845d71">Website Photos</Parent>
    <Path>/PhotoGallery/WebsitePhotos/Maureenflemingveterans3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-27T21:38:15</CreateDate>
    <NodeName Default="Maureenflemingveterans3" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lzpafmcu/maureenflemingveterans3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>