<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e2e5a33-9132-48da-a92f-4a247909cfc9" Alias="Navy and White Logos" Level="3">
  <Info>
    <Parent Key="d9afefda-1ca3-42c7-b8f2-9de123a3ac61">Logos</Parent>
    <Path>/Campaign/Logos/NavyAndWhiteLogos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-08-26T05:21:34</CreateDate>
    <NodeName Default="Navy and White Logos" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties />
</Media>