<?xml version="1.0" encoding="utf-8"?>
<Media Key="117bcf56-adef-40cf-8791-9709d60f0ded" Alias="Photo Gallery" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PhotoGallery</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-08-27T21:08:04</CreateDate>
    <NodeName Default="Photo Gallery" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>