<?xml version="1.0" encoding="utf-8"?>
<Media Key="bcf3af66-141b-4a20-ac73-d9b53537bd31" Alias="Sybil Large" Level="4">
  <Info>
    <Parent Key="947de522-d2b0-4a98-8a5e-31485cb2c058">Carmel Democrats</Parent>
    <Path>/Campaign/Logos/CarmelDemocrats/SybilLarge</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-21T20:27:18</CreateDate>
    <NodeName Default="Sybil Large" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mcxphpa1/sybil_large.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>