<?xml version="1.0" encoding="utf-8"?>
<Media Key="8646458f-921a-4f6f-a398-8295eba6e119" Alias="Websitelogo" Level="4">
  <Info>
    <Parent Key="947de522-d2b0-4a98-8a5e-31485cb2c058">Carmel Democrats</Parent>
    <Path>/Campaign/Logos/CarmelDemocrats/Websitelogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-21T20:27:18</CreateDate>
    <NodeName Default="Websitelogo" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rfcfnbq0/websitelogo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>