<?xml version="1.0" encoding="utf-8"?>
<Media Key="81ba7050-3fea-49b4-825b-9f3c8c845d71" Alias="Website Photos" Level="2">
  <Info>
    <Parent Key="117bcf56-adef-40cf-8791-9709d60f0ded">Photo Gallery</Parent>
    <Path>/PhotoGallery/WebsitePhotos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-08-27T21:16:32</CreateDate>
    <NodeName Default="Website Photos" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>