<?xml version="1.0" encoding="utf-8"?>
<Media Key="b4377808-610d-438c-8ee8-508cae181924" Alias="White Outline" Level="3">
  <Info>
    <Parent Key="d9afefda-1ca3-42c7-b8f2-9de123a3ac61">Logos</Parent>
    <Path>/Campaign/Logos/WhiteOutline</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-08-26T05:22:42</CreateDate>
    <NodeName Default="White Outline" />
    <SortOrder>40</SortOrder>
  </Info>
  <Properties />
</Media>