<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1f8bd449-400c-45a4-a9b6-f97fa4c7262f" Alias="Site.ContactList" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">flemingesq@msn.com, marshawaldman2@gmail.com, williamwaldman@gmail.com</Translation>
  </Translations>
</Dictionary>