<?xml version="1.0" encoding="utf-8"?>
<Macro Key="f2ad714a-a200-401a-baa9-c0d8a7573d12" Alias="devGallery" Level="0">
  <Name>_devGallery</Name>
  <MacroSource>~/Views/MacroPartials/_devGallery.cshtml</MacroSource>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>