<?xml version="1.0" encoding="utf-8"?>
<Macro Key="95d56d5b-98e3-4f08-96cf-9afae1e795ff" Alias="DevTryLogoutMacro" Level="0">
  <Name>DevTryLogoutMacro</Name>
  <MacroSource></MacroSource>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>