<?xml version="1.0" encoding="utf-8"?>
<Macro Key="a44c2abb-b33f-4783-8ee9-ecdd8245c704" Alias="photoGallery" Level="0">
  <Name>photoGallery</Name>
  <MacroSource>~/Views/MacroPartials/photoGallery.cshtml</MacroSource>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>