<?xml version="1.0" encoding="utf-8"?>
<DataType Key="262ed138-5d5a-40fa-a949-5b41017af63e" Alias="Block Settings Alignment [Dropdown]" Level="1">
  <Info>
    <Name>Block Settings Alignment [Dropdown]</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Left"
    },
    {
      "id": 2,
      "value": "Center"
    },
    {
      "id": 3,
      "value": "Right"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>