<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ff48ee3d-849e-4cff-b08a-f8760b47905e" Alias="[Block List] Bullet Points" Level="1">
  <Info>
    <Name>[Block List] Bullet Points</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "04c54c75-f50f-48b6-90cc-e01ab477049b",
      "settingsElementTypeKey": "4b3148e2-8d36-4f2c-928a-b056da1808d4",
      "view": null,
      "stylesheet": null,
      "label": "{{text}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>