<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e2221a9a-4aaa-4688-846a-09b930d5da8f" Alias="[Block Content Control] Rich Text Editor" Level="1">
  <Info>
    <Name>[Block Content Control] Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "removeformat",
      "undo",
      "redo",
      "cut",
      "copy",
      "paste",
      "styleselect",
      "bold",
      "italic",
      "underline",
      "strikethrough",
      "alignleft",
      "aligncenter",
      "alignright",
      "alignjustify",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "unlink",
      "anchor",
      "umbmediapicker",
      "umbmacro",
      "table",
      "umbembeddialog",
      "hr",
      "subscript",
      "superscript",
      "charmap"
    ],
    "stylesheets": [
      "/css/RichTextStyle.css",
      "/css/flemingforputnam.css"
    ],
    "maxImageSize": 800,
    "mode": "classic",
    "dimensions": {
      "width": null,
      "height": null
    }
  },
  "HideLabel": true,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small"
}]]></Config>
</DataType>