<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e5c32038-6fee-45dc-8cda-b33e3ca9b150" Alias="[Block List] Call to Actions Control" Level="1">
  <Info>
    <Name>[Block List] Call to Actions Control</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": "#ffffff",
      "iconColor": "#c90076",
      "thumbnail": null,
      "contentElementTypeKey": "de7a776b-27b5-4c9d-bd93-4cc6a4acd851",
      "settingsElementTypeKey": "60869c66-8dc6-42e0-8c57-8de19c64f45b",
      "view": null,
      "stylesheet": null,
      "label": "{{link.name}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>