<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4b54751e-2775-4ee5-ba99-ef010a4ae1d0" Alias="Bullet Points Block Content [ Block List]" Level="1">
  <Info>
    <Name>Bullet Points Block Content [ Block List]</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": "#6fa8dc",
      "thumbnail": null,
      "contentElementTypeKey": "04c54c75-f50f-48b6-90cc-e01ab477049b",
      "settingsElementTypeKey": "4b3148e2-8d36-4f2c-928a-b056da1808d4",
      "view": null,
      "stylesheet": null,
      "label": "{{name}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": "#2986cc",
      "thumbnail": null,
      "contentElementTypeKey": "9975e6b7-be1b-4e5e-917d-808be67a6624",
      "settingsElementTypeKey": "a95511ef-4a76-4082-a268-ea525ea20ee1",
      "view": null,
      "stylesheet": null,
      "label": "{{name}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "1a4001dd-833d-44fe-a04d-1f9844cb193c",
      "settingsElementTypeKey": "4cfa5eb4-4200-4a8a-abef-2dd93b5b42b2",
      "view": null,
      "stylesheet": null,
      "label": "{{name}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>