<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e17894e4-6628-46be-9c01-323610bc90c6" Alias="[Bullet Point Link Block] Bullet Point Links" Level="1">
  <Info>
    <Name>[Bullet Point Link Block] Bullet Point Links</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "9975e6b7-be1b-4e5e-917d-808be67a6624",
      "settingsElementTypeKey": "a95511ef-4a76-4082-a268-ea525ea20ee1",
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>