<?xml version="1.0" encoding="utf-8"?>
<DataType Key="af44478f-bb54-4fd4-bde3-ce052f35fda1" Alias="[Bullet Point] Text" Level="1">
  <Info>
    <Name>[Bullet Point] Text</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>