<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4343710b-e2ea-4add-9130-7795adccd48e" Alias="[Call To Action] List Block" Level="1">
  <Info>
    <Name>[Call To Action] List Block</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "de7a776b-27b5-4c9d-bd93-4cc6a4acd851",
      "settingsElementTypeKey": "60869c66-8dc6-42e0-8c57-8de19c64f45b",
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>