<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ea619e70-c9b6-4fd3-a3da-a7bd4b17d7d5" Alias="[Cards] Lede Control" Level="1">
  <Info>
    <Name>[Cards] Lede Control</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>