<?xml version="1.0" encoding="utf-8"?>
<DataType Key="866328f2-ff4c-41ed-a2be-d8b9855f2e35" Alias="[Cards] Title" Level="1">
  <Info>
    <Name>[Cards] Title</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 60
}]]></Config>
</DataType>