<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a0eb6f48-0892-4ead-8425-dbc63edc2839" Alias="[Checkbox list] Campaign Activities" Level="1">
  <Info>
    <Name>[Checkbox list] Campaign Activities</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Canvassing"
    },
    {
      "id": 2,
      "value": "Phone Banking"
    },
    {
      "id": 3,
      "value": "Write Letters to the Editor"
    },
    {
      "id": 4,
      "value": "Social Media Promotion"
    },
    {
      "id": 5,
      "value": "GOTV"
    },
    {
      "id": 6,
      "value": "Attend Campaign Events"
    }
  ]
}]]></Config>
</DataType>