<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d8a3f6d8-dad0-451f-9260-7591c67faee1" Alias="[Color Picker] Site Colors" Level="1">
  <Info>
    <Name>[Color Picker] Site Colors</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 9,
      "value": "{\"value\":\"0d004c\",\"label\":\"Fleming for Putnam Navy\"}"
    },
    {
      "id": 10,
      "value": "{\"value\":\"0093dd\",\"label\":\"Fleming for Putnam Teal\"}"
    },
    {
      "id": 1,
      "value": "{\"value\":\"07074e\",\"label\":\"Carmel Dems Dark Blue\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"97daf8\",\"label\":\"Carmel Dems Light Blue\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"265289\",\"label\":\"Carmel Dems Medium Blue\"}"
    },
    {
      "id": 7,
      "value": "{\"value\":\"800000\",\"label\":\"Maroon\"}"
    },
    {
      "id": 4,
      "value": "{\"value\":\"000000\",\"label\":\"Black\"}"
    },
    {
      "id": 5,
      "value": "{\"value\":\"ffffff\",\"label\":\"White\"}"
    },
    {
      "id": 8,
      "value": "{\"value\":\"999999\",\"label\":\"Gray\"}"
    },
    {
      "id": 6,
      "value": "{\"value\":\"eeeeee\",\"label\":\"Light Gray\"}"
    },
    {
      "id": 11,
      "value": "{\"value\":\"ececec\",\"label\":\"Light Silver\"}"
    }
  ],
  "UseLabel": true
}]]></Config>
</DataType>