<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fb8b4de7-1aec-4c38-a264-cdb01d858c4f" Alias="[Color Picker] Footer Controls" Level="1">
  <Info>
    <Name>[Color Picker] Footer Controls</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [],
  "UseLabel": false
}]]></Config>
</DataType>