<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d95b4565-c0b5-4003-a35d-3837be2c18f8" Alias="[Dropdown] Call to Action Styles" Level="1">
  <Info>
    <Name>[Dropdown] Call to Action Styles</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 4,
      "value": "button-outline-primary"
    },
    {
      "id": 5,
      "value": "button-primary"
    },
    {
      "id": 6,
      "value": "button-info"
    },
    {
      "id": 7,
      "value": "button-outline-info"
    },
    {
      "id": 8,
      "value": "button-success"
    },
    {
      "id": 9,
      "value": "button-outline-success"
    },
    {
      "id": 10,
      "value": "button-danger"
    },
    {
      "id": 11,
      "value": "button-outline-danger"
    },
    {
      "id": 12,
      "value": "button-warning"
    },
    {
      "id": 13,
      "value": "button-outline-warning"
    },
    {
      "id": 14,
      "value": "button-carmeldems-blue"
    },
    {
      "id": 15,
      "value": "button-carmeldems-navy"
    },
    {
      "id": 16,
      "value": "button-carmeldems-cornflower"
    },
    {
      "id": 17,
      "value": "button-carmeldems-outline-navy"
    },
    {
      "id": 18,
      "value": "button-carmeldems-outline-blue"
    },
    {
      "id": 19,
      "value": "button-carmeldems-outline-cornflower"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>