<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dd951fd4-72df-48aa-bbd6-548f14873ec8" Alias="[Dropdown] Icon List" Level="1">
  <Info>
    <Name>[Dropdown] Icon List</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "house"
    },
    {
      "id": 2,
      "value": "house-door"
    },
    {
      "id": 3,
      "value": "house-door-fill"
    },
    {
      "id": 4,
      "value": "house-fill"
    },
    {
      "id": 5,
      "value": "house-heart"
    },
    {
      "id": 6,
      "value": "facebook"
    },
    {
      "id": 7,
      "value": "messenger"
    },
    {
      "id": 8,
      "value": "meta"
    },
    {
      "id": 9,
      "value": "whatsapp"
    },
    {
      "id": 10,
      "value": "twitter"
    },
    {
      "id": 11,
      "value": "twitch"
    },
    {
      "id": 12,
      "value": "instagram"
    },
    {
      "id": 13,
      "value": "bug"
    },
    {
      "id": 14,
      "value": "phone-fill"
    },
    {
      "id": 15,
      "value": "phone"
    },
    {
      "id": 16,
      "value": "phone-flip"
    },
    {
      "id": 17,
      "value": "phone-landscape"
    },
    {
      "id": 18,
      "value": "phone-landscape-fill"
    },
    {
      "id": 19,
      "value": "phone-vibrate"
    },
    {
      "id": 20,
      "value": "phone-vibrate-fill"
    },
    {
      "id": 21,
      "value": "table-fill"
    },
    {
      "id": 22,
      "value": "tablet-landscape"
    },
    {
      "id": 23,
      "value": "tablet-landscape-fill"
    },
    {
      "id": 24,
      "value": "bluetooth"
    },
    {
      "id": 25,
      "value": "bicycle"
    },
    {
      "id": 26,
      "value": "bootstrap"
    },
    {
      "id": 27,
      "value": "bootstrap-fill"
    },
    {
      "id": 28,
      "value": "bootstrap-reboot"
    },
    {
      "id": 29,
      "value": "box"
    },
    {
      "id": 30,
      "value": "box-fill"
    },
    {
      "id": 31,
      "value": "boxes"
    },
    {
      "id": 32,
      "value": "braces"
    },
    {
      "id": 33,
      "value": "bricks"
    },
    {
      "id": 34,
      "value": "briefcase"
    },
    {
      "id": 35,
      "value": "briefcase-fill"
    },
    {
      "id": 36,
      "value": "camera"
    },
    {
      "id": 37,
      "value": "camera2"
    },
    {
      "id": 38,
      "value": "camera-fill"
    },
    {
      "id": 39,
      "value": "camera-reels-fill"
    },
    {
      "id": 40,
      "value": "camera-video"
    },
    {
      "id": 41,
      "value": "camera-video-fill"
    },
    {
      "id": 42,
      "value": "camera-video-off"
    },
    {
      "id": 43,
      "value": "camera-video-off-fill"
    },
    {
      "id": 44,
      "value": "card-checklist"
    },
    {
      "id": 45,
      "value": "card-heading"
    },
    {
      "id": 46,
      "value": "card-image"
    },
    {
      "id": 47,
      "value": "card-list"
    },
    {
      "id": 48,
      "value": "card-text"
    },
    {
      "id": 49,
      "value": "info"
    },
    {
      "id": 50,
      "value": "info-circle"
    },
    {
      "id": 51,
      "value": "info-circle-fill"
    },
    {
      "id": 52,
      "value": "info-square"
    },
    {
      "id": 53,
      "value": "info-lg"
    },
    {
      "id": 54,
      "value": "camera-reels"
    },
    {
      "id": 55,
      "value": "info-square-fill"
    },
    {
      "id": 56,
      "value": "linkedin"
    },
    {
      "id": 57,
      "value": "paperclip"
    },
    {
      "id": 58,
      "value": "pause"
    },
    {
      "id": 59,
      "value": "pause-btn"
    },
    {
      "id": 60,
      "value": "pause-btn-fil"
    },
    {
      "id": 61,
      "value": "pause-circle"
    },
    {
      "id": 62,
      "value": "pause-circle-fill"
    },
    {
      "id": 63,
      "value": "pause-fill"
    },
    {
      "id": 64,
      "value": "paypal"
    },
    {
      "id": 65,
      "value": "pen"
    },
    {
      "id": 66,
      "value": "pen-fill"
    },
    {
      "id": 67,
      "value": "pencil"
    },
    {
      "id": 68,
      "value": "pencil-fill"
    },
    {
      "id": 69,
      "value": "pencil-square"
    },
    {
      "id": 70,
      "value": "people"
    },
    {
      "id": 71,
      "value": "person-circle"
    },
    {
      "id": 72,
      "value": "people-fill"
    },
    {
      "id": 73,
      "value": "percent"
    },
    {
      "id": 74,
      "value": "person"
    },
    {
      "id": 75,
      "value": "person-badge"
    },
    {
      "id": 76,
      "value": "play"
    },
    {
      "id": 77,
      "value": "play-btn"
    },
    {
      "id": 78,
      "value": "play-btn-fill"
    },
    {
      "id": 79,
      "value": "play-circle"
    },
    {
      "id": 80,
      "value": "play-circle-fill"
    },
    {
      "id": 81,
      "value": "play-fill"
    },
    {
      "id": 82,
      "value": "palystation"
    },
    {
      "id": 83,
      "value": "plug"
    },
    {
      "id": 84,
      "value": "plug-fill"
    },
    {
      "id": 85,
      "value": "plugin"
    },
    {
      "id": 86,
      "value": "plus"
    },
    {
      "id": 87,
      "value": "plus-circle"
    },
    {
      "id": 88,
      "value": "power"
    },
    {
      "id": 89,
      "value": "question"
    },
    {
      "id": 90,
      "value": "question-circle"
    },
    {
      "id": 91,
      "value": "question-diamond"
    },
    {
      "id": 92,
      "value": "question-diamond-fill"
    },
    {
      "id": 93,
      "value": "question-circle-fill"
    },
    {
      "id": 94,
      "value": "question-lg"
    },
    {
      "id": 95,
      "value": "question-octagon"
    },
    {
      "id": 96,
      "value": "question-octagon-fill"
    },
    {
      "id": 97,
      "value": "server"
    },
    {
      "id": 98,
      "value": "sign-stop"
    },
    {
      "id": 99,
      "value": "shop"
    },
    {
      "id": 100,
      "value": "shop-window"
    },
    {
      "id": 101,
      "value": "skype"
    },
    {
      "id": 102,
      "value": "slack"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>