<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4ef581a3-ef01-4b42-a77b-5d4eae6b5dce" Alias="Features Image Block [Media Picker]" Level="1">
  <Info>
    <Name>Features Image Block [Media Picker]</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "defaultImage",
      "height": 400,
      "label": "Default Image",
      "width": 300
    },
    {
      "alias": "tallImage",
      "height": 600,
      "label": "Tall Image",
      "width": 300
    },
    {
      "alias": "wideImage",
      "height": 400,
      "label": "Wide Image",
      "width": 500
    },
    {
      "alias": "wideTallImage",
      "height": 600,
      "label": "Wide Tall Image",
      "width": 500
    }
  ],
  "EnableLocalFocalPoint": false,
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>