<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f6f8f4cf-120f-40c7-9560-5b2848d94f41" Alias="Features Block - Features Block List - Block List" Level="1">
  <Info>
    <Name>Features Block - Features Block List - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": "#f1c232",
      "iconColor": "#6aa84f",
      "thumbnail": null,
      "contentElementTypeKey": "64388d1f-4da1-4a0e-8563-4658abad13a3",
      "settingsElementTypeKey": "9fbc9145-c42a-497e-8dc9-12f6dff99830",
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "991870a5-f6df-474d-aee2-46dfb1753be4",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "ece23daa-78ab-42e1-b6bf-d5f03dd962a0",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{name}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": 3
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>