<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6f359e09-7daa-49b5-bb1f-b7bb411c1e5d" Alias="[Grid Layout] Main Content Grid Control" Level="1">
  <Info>
    <Name>[Grid Layout] Main Content Grid Control</Name>
    <EditorAlias>Umbraco.Grid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": false,
  "Items": {
    "styles": [
      {
        "label": "Set a background image",
        "description": "Set a row background",
        "key": "background-image",
        "view": "imagepicker",
        "modifier": "url({0})"
      }
    ],
    "config": [
      {
        "label": "Class",
        "description": "Set a css class",
        "key": "class",
        "view": "textstring"
      }
    ],
    "columns": 12,
    "templates": [
      {
        "name": "1 column layout",
        "sections": [
          {
            "grid": 12
          }
        ]
      }
    ],
    "layouts": [
      {
        "label": "Headline",
        "name": "Headline",
        "areas": [
          {
            "grid": 12,
            "editors": [
              "headline"
            ]
          }
        ]
      },
      {
        "label": "Article",
        "name": "Article",
        "areas": [
          {
            "grid": 4
          },
          {
            "grid": 8
          }
        ]
      },
      {
        "name": "Full",
        "areas": [
          {
            "grid": 12,
            "allowAll": true
          }
        ],
        "label": "Full"
      },
      {
        "name": "Halfs",
        "areas": [
          {
            "grid": 6,
            "allowed": [],
            "allowAll": true
          },
          {
            "grid": 6,
            "allowed": [],
            "allowAll": true
          }
        ],
        "label": "Halfs"
      },
      {
        "name": "Thirds",
        "areas": [
          {
            "grid": 4,
            "allowed": [],
            "allowAll": true
          },
          {
            "grid": 4,
            "allowed": [],
            "allowAll": true
          },
          {
            "grid": 4,
            "allowed": [],
            "allowAll": true
          }
        ],
        "label": "Thirds"
      },
      {
        "name": "Image to Text",
        "areas": [
          {
            "grid": 5,
            "allowAll": false,
            "allowed": [
              "media"
            ]
          },
          {
            "grid": 7,
            "allowAll": false,
            "allowed": [
              "rte",
              "headline",
              "quote"
            ]
          }
        ],
        "label": "Image to Text"
      },
      {
        "name": "Text to Image",
        "areas": [
          {
            "grid": 7,
            "allowAll": false,
            "allowed": [
              "rte",
              "quote",
              "headline"
            ]
          },
          {
            "grid": 5,
            "allowAll": false,
            "allowed": [
              "media"
            ]
          }
        ],
        "label": "Text to Image"
      }
    ]
  },
  "MediaParentId": null,
  "Rte": {
    "toolbar": [
      "ace",
      "styleselect",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker",
      "umbmacro",
      "umbembeddialog"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  }
}]]></Config>
</DataType>