<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cdc37161-2801-4a54-9055-dcddf32e3eca" Alias="Hero Card - Calls to Action - Block List" Level="1">
  <Info>
    <Name>Hero Card - Calls to Action - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "248d4486-f4de-4c5c-8703-b8e0379a8c51",
      "settingsElementTypeKey": "c6dfc5e6-234f-4b63-9a16-d5dba82b25b6",
      "view": null,
      "stylesheet": null,
      "label": "{{linkText}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>