<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4e350288-5653-44a2-822b-158d871c21ae" Alias="Hero Card - Calls to Action - Nested Content" Level="1">
  <Info>
    <Name>Hero Card - Calls to Action - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "callToActionElement",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>