<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c5ffe333-505a-4654-ae75-d58e65f4c9d5" Alias="[Hero Card] Hero Types" Level="1">
  <Info>
    <Name>[Hero Card] Hero Types</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Responsive Left"
    },
    {
      "id": 4,
      "value": "Responsive Right"
    },
    {
      "id": 2,
      "value": "Centered Image Below"
    },
    {
      "id": 3,
      "value": "Centered Image Above"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>