<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6446a42e-0c4c-4dbf-b777-e9bad26e9ab7" Alias="[Link Widget] Link Text" Level="1">
  <Info>
    <Name>[Link Widget] Link Text</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 30
}]]></Config>
</DataType>