<?xml version="1.0" encoding="utf-8"?>
<DataType Key="36d746c3-de72-4fab-bbb0-e21fbfca0f30" Alias="[Link Widget] Link Types" Level="1">
  <Info>
    <Name>[Link Widget] Link Types</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "button-primary"
    },
    {
      "id": 2,
      "value": "button-outline-primary"
    },
    {
      "id": 3,
      "value": "button-secondary"
    },
    {
      "id": 4,
      "value": "button-outline-secondary"
    },
    {
      "id": 5,
      "value": "button-dark"
    },
    {
      "id": 6,
      "value": "button-outline-dark"
    },
    {
      "id": 7,
      "value": "button-info"
    },
    {
      "id": 8,
      "value": "button-outline-info"
    },
    {
      "id": 9,
      "value": "button-danger"
    },
    {
      "id": 10,
      "value": "button-outline-danger"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>