<?xml version="1.0" encoding="utf-8"?>
<DataType Key="63abe26e-4d19-4c47-a42c-8e46f7d6cefa" Alias="Main Content Block List Control" Level="1">
  <Info>
    <Name>Main Content Block List Control</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": "#e06666",
      "iconColor": "#cfe2f3",
      "thumbnail": null,
      "contentElementTypeKey": "b70a6f4c-a047-4147-9d06-118c3ce82e82",
      "settingsElementTypeKey": "eba05bba-2831-4aac-ba9e-e3fec65b686f",
      "view": null,
      "stylesheet": null,
      "label": "{{title}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": "#6a329f",
      "iconColor": "#fff451",
      "thumbnail": null,
      "contentElementTypeKey": "1238658d-ea75-4166-a5ac-782de4413f85",
      "settingsElementTypeKey": "22a2cbd2-18c7-48e7-a1c0-de1392b52bde",
      "view": null,
      "stylesheet": null,
      "label": "{{name}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": "#3d85c6",
      "iconColor": "#ffffff",
      "thumbnail": null,
      "contentElementTypeKey": "0668d1c2-cee6-4878-a815-95d8e3161aad",
      "settingsElementTypeKey": "d279e666-2b40-42f4-b8b1-64e908531a9d",
      "view": null,
      "stylesheet": null,
      "label": "{{title}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>