<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a767fb7b-6fd2-48aa-bba6-3e407954fb02" Alias="[Media Picker] Footer Image" Level="1">
  <Info>
    <Name>[Media Picker] Footer Image</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "defaultImage",
      "height": 200,
      "label": "Default Image",
      "width": 300
    },
    {
      "alias": "thumbnail",
      "height": 50,
      "label": "Thumbnail",
      "width": 50
    },
    {
      "alias": "smallImage",
      "height": 75,
      "label": "Small Image",
      "width": 100
    }
  ],
  "EnableLocalFocalPoint": false,
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>