<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4309a3ea-0d78-4329-a06c-c80b036af19a" Alias="Media Picker" Level="1">
  <Info>
    <Name>Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "thumbnail",
      "height": 200,
      "label": "Thumbnail",
      "width": 200
    },
    {
      "alias": "smallImage",
      "height": 300,
      "label": "Small Image",
      "width": 450
    },
    {
      "alias": "mediumImage",
      "height": 400,
      "label": "Medium Image",
      "width": 600
    },
    {
      "alias": "largeImage",
      "height": 600,
      "label": "Large Image",
      "width": 900
    },
    {
      "alias": "xtraLargeImage",
      "height": 750,
      "label": "Xtra Large Image",
      "width": 1050
    },
    {
      "alias": "bannerImage",
      "height": 75,
      "label": "Banner Image",
      "width": 1050
    }
  ],
  "EnableLocalFocalPoint": false,
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "Multiple": true,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": 0
  }
}]]></Config>
</DataType>