<?xml version="1.0" encoding="utf-8"?>
<DataType Key="405d64bf-9b59-4034-ab13-f1ba4cd9c417" Alias="[Multi URL Picker] Single Url Picker" Level="1">
  <Info>
    <Name>[Multi URL Picker] Single Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>