<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fb403f03-2b1a-4e26-88e1-a3b706385037" Alias="Photo Gallery Picker Control - Page Photo Gallery Picker - Multinode Treepicker" Level="1">
  <Info>
    <Name>Photo Gallery Picker Control - Page Photo Gallery Picker - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "Image,umbracoMediaVectorGraphics,Folder",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": true,
  "TreeSource": {
    "id": "umb://media/117bcf56adef40cf87919709d60f0ded",
    "query": null,
    "type": "media"
  }
}]]></Config>
</DataType>