<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b7835014-543b-4db8-9078-5f96c912f4b6" Alias="Photos Page - Multinode Treepicker" Level="1">
  <Info>
    <Name>Photos Page - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "Image,umbracoMediaVectorGraphics,Folder",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": true,
  "TreeSource": {
    "id": "umb://media/117bcf56adef40cf87919709d60f0ded",
    "query": null,
    "type": "media"
  }
}]]></Config>
</DataType>