<?xml version="1.0" encoding="utf-8"?>
<DataType Key="78f81563-d4e7-4d1e-8bff-7f94c206e4b5" Alias="Site Main Image Media Picker" Level="1">
  <Info>
    <Name>Site Main Image Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "defaultImage",
      "height": 700,
      "label": "Default Image",
      "width": 500
    },
    {
      "alias": "largeImage",
      "height": 600,
      "label": "Large Image",
      "width": 950
    },
    {
      "alias": "thumbnail",
      "height": 200,
      "label": "Thumbnail",
      "width": 200
    }
  ],
  "EnableLocalFocalPoint": false,
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>