<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cd2d521a-4f79-48c7-b3be-b17da09ad1c6" Alias="Site Text Colors" Level="1">
  <Info>
    <Name>Site Text Colors</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "primary"
    },
    {
      "id": 2,
      "value": "info"
    },
    {
      "id": 3,
      "value": "secondary"
    },
    {
      "id": 4,
      "value": "success"
    },
    {
      "id": 5,
      "value": "danger"
    },
    {
      "id": 6,
      "value": "warning"
    },
    {
      "id": 7,
      "value": "carmeldems-navy"
    },
    {
      "id": 8,
      "value": "carmeldems-blue"
    },
    {
      "id": 9,
      "value": "carmeldems-cornflower"
    },
    {
      "id": 10,
      "value": "dark"
    },
    {
      "id": 11,
      "value": "light"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>