<?xml version="1.0" encoding="utf-8"?>
<DataType Key="da90b092-14f9-48a6-90a3-a8b71ab0a5a0" Alias="Social Media Links [Nested Content]" Level="1">
  <Info>
    <Name>Social Media Links [Nested Content]</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "iconLink",
      "ncTabAlias": "Content",
      "nameTemplate": "{{Name}}"
    },
    {
      "ncAlias": "iconLinkSettings",
      "ncTabAlias": "Settings",
      "nameTemplate": "{{name}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>