<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1265b8cc-bebb-437d-ad57-45260ca9776f" Alias="Test Page - [Nested Content]" Level="1">
  <Info>
    <Name>Test Page - [Nested Content]</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "callToAction",
      "ncTabAlias": "Content",
      "nameTemplate": "{{Name}} - {{LinkText}}"
    },
    {
      "ncAlias": "callToActionSettings",
      "ncTabAlias": "Settings",
      "nameTemplate": "{{Name}} Settings"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>