<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f54f5d5a-dbce-4927-9520-265eb4e15b0c" Alias="Text Alignment List [Dropdown]" Level="1">
  <Info>
    <Name>Text Alignment List [Dropdown]</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Left"
    },
    {
      "id": 2,
      "value": "Center"
    },
    {
      "id": 3,
      "value": "Right"
    },
    {
      "id": 4,
      "value": "Justified"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>