@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ErrorPage>

@{
	Layout = "Master.cshtml";
}

@*<h1>@Model?.Title</h1>*@

<p>Whoops - something went wrong</p>