<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="41a937c3-d85d-4dc5-aa30-e116df3db212" Alias="blockListPage" Level="2">
  <Info>
    <Name>Block List Page</Name>
    <Icon>icon-box color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="1486f306-871d-4465-a00e-dad249598e27">mainHeaderControls</Composition>
      <Composition Key="b74def83-fb45-43e9-9900-1a88393d54b8">mainImageControl</Composition>
      <Composition Key="ae92d0e1-4343-419e-9d0d-cd3911d13245">photoGalleryPickerControl</Composition>
      <Composition Key="192fdc8a-9231-4072-bc61-353614151dea">sEOControls</Composition>
      <Composition Key="3795b597-5ccc-47d2-a82d-0555cadf053e">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>BlockListPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="18c5ab9a-a418-4f81-a6a9-e7664f319eb3">BlockListPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4824128e-97e9-4cba-b55e-df64f4724cbe</Key>
      <Name>Main Content</Name>
      <Alias>mainContent</Alias>
      <Definition>63abe26e-4d19-4c47-a42c-8e46f7d6cefa</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>15</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d1d3f93f-0add-491c-89d3-52a9348feb32</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>