<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="98b669ef-9959-452e-a830-1f74c4701432" Alias="bulletPointsBlock" Level="4">
  <Info>
    <Name>Bullet Points Block</Name>
    <Icon>icon-bulleted-list color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Content+Models</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3114edee-fadf-4ae1-ad21-46d6ce16f289</Key>
      <Name>bulletPointsBlockContent</Name>
      <Alias>bulletPointsBlockContent</Alias>
      <Definition>4b54751e-2775-4ee5-ba99-ef010a4ae1d0</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="bulletPoints">Bullet Points</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>356dc554-562f-466a-9939-25bb78010281</Key>
      <Name>Call To Action Links</Name>
      <Alias>callToActionLinks</Alias>
      <Definition>4343710b-e2ea-4add-9130-7795adccd48e</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="bulletPoints">Bullet Points</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7ca9f5ab-9745-4f66-8e90-f3e545f10228</Key>
      <Caption>Bullet Points</Caption>
      <Alias>bulletPoints</Alias>
      <Type>Group</Type>
      <SortOrder>20</SortOrder>
    </Tab>
  </Tabs>
</ContentType>