<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="eba05bba-2831-4aac-ba9e-e3fec65b686f" Alias="featuresBlockSettings" Level="4">
  <Info>
    <Name>Features Block Settings</Name>
    <Icon>icon-science color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Settings+Models</Folder>
    <Compositions>
      <Composition Key="ff658e51-0311-48b6-a69c-9d35c5a50474">blockVisibilityControl</Composition>
      <Composition Key="2507cc1a-bbeb-4bee-874f-61e7f9f20b17">itemNameControl</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>491eaeb4-0b03-48bc-8ac1-1f40b2e18f9a</Key>
      <Name>Title Alignment</Name>
      <Alias>titleAlignment</Alias>
      <Definition>f54f5d5a-dbce-4927-9520-265eb4e15b0c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c63ebb93-2fef-465b-9df2-47175c74ab0d</Key>
      <Name>Title Color</Name>
      <Alias>titleColor</Alias>
      <Definition>cd2d521a-4f79-48c7-b3be-b17da09ad1c6</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1355dd2a-fb6c-4064-8700-3ece6ea57c99</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>100</SortOrder>
    </Tab>
  </Tabs>
</ContentType>