<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d279e666-2b40-42f4-b8b1-64e908531a9d" Alias="heroCardSettings" Level="4">
  <Info>
    <Name>Hero Card Settings</Name>
    <Icon>icon-award color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Settings+Models</Folder>
    <Compositions>
      <Composition Key="ff658e51-0311-48b6-a69c-9d35c5a50474">blockVisibilityControl</Composition>
      <Composition Key="2507cc1a-bbeb-4bee-874f-61e7f9f20b17">itemNameControl</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>89465f5f-d4f0-4270-8af8-c9cb5582e7b3</Key>
      <Name>Hero Type</Name>
      <Alias>heroType</Alias>
      <Definition>c5ffe333-505a-4654-ae75-d58e65f4c9d5</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>049ca52c-f32c-4f8b-9e43-20c8ad40976a</Key>
      <Name>Title Color</Name>
      <Alias>titleColor</Alias>
      <Definition>cd2d521a-4f79-48c7-b3be-b17da09ad1c6</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>15</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2c86b248-8c27-46fd-99b7-5c9e01da76f4</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>100</SortOrder>
    </Tab>
  </Tabs>
</ContentType>