<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e82b4f0c-9ffe-458b-9ef7-68d8e957daa2" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="9280ff55-a4e7-4091-ad1a-f0a0ebdcfddc">footerControls</Composition>
      <Composition Key="cc373539-6033-4edf-af6a-4db8b70af1c7">mainContentBlockListControl</Composition>
      <Composition Key="b74def83-fb45-43e9-9900-1a88393d54b8">mainImageControl</Composition>
      <Composition Key="192fdc8a-9231-4072-bc61-353614151dea">sEOControls</Composition>
      <Composition Key="c113c36e-02ca-41a3-bce9-f342228c09f8">siteControls</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b3f08a9d-a6d8-4853-ba54-61b28ceb679a">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="717b7065-6dc9-4848-8714-4314b0f61b0e" SortOrder="0">loginPage</ContentType>
    <ContentType Key="3a8a0a57-cc43-4b12-b399-2b2c236cf609" SortOrder="1">memberProfilePage</ContentType>
    <ContentType Key="6ffe6d24-e819-49fd-9c2f-7b12a001184e" SortOrder="2">newsPage</ContentType>
    <ContentType Key="9eccb527-3eaa-4e53-a299-a9cdacbd46f0" SortOrder="3">errorPage</ContentType>
    <ContentType Key="41a937c3-d85d-4dc5-aa30-e116df3db212" SortOrder="4">blockListPage</ContentType>
    <ContentType Key="e1a42c2d-5c7b-4f9a-b072-8a5eb5916e11" SortOrder="5">richTextPage</ContentType>
    <ContentType Key="06bfa3a3-5ca3-4232-b637-53d64483d031" SortOrder="6">photosPage</ContentType>
    <ContentType Key="ff5497ae-eecf-4cbd-ae38-c718941a9941" SortOrder="7">contactPage</ContentType>
    <ContentType Key="2dcc5359-c221-45b4-9ea2-fcb2cdfd5ca5" SortOrder="8">newsItemPage</ContentType>
    <ContentType Key="007aef5c-4576-419f-9e25-2e63badceff4" SortOrder="9">volunteerPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>