<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1a4001dd-833d-44fe-a04d-1f9844cb193c" Alias="iconCard" Level="4">
  <Info>
    <Name>Icon Card</Name>
    <Icon>icon-roadsign color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Content+Models</Folder>
    <Compositions>
      <Composition Key="d314402d-15c4-4522-8a56-15789caa79b4">blockDescriptionControls</Composition>
      <Composition Key="ca33893f-d443-4d57-83e8-8b9f8cb85607">blockTitleControl</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0a971955-e514-46b9-bb29-f48e8605a574</Key>
      <Name>Icon Class</Name>
      <Alias>iconClass</Alias>
      <Definition>dd951fd4-72df-48aa-bbd6-548f14873ec8</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0836a1fa-998d-49be-97a7-2a1e11438fea</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>