<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4cfa5eb4-4200-4a8a-abef-2dd93b5b42b2" Alias="iconCardSettings" Level="4">
  <Info>
    <Name>Icon Card Settings</Name>
    <Icon>icon-roadsign color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Settings+Models</Folder>
    <Compositions>
      <Composition Key="ff658e51-0311-48b6-a69c-9d35c5a50474">blockVisibilityControl</Composition>
      <Composition Key="2507cc1a-bbeb-4bee-874f-61e7f9f20b17">itemNameControl</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>