<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="717b7065-6dc9-4848-8714-4314b0f61b0e" Alias="loginPage" Level="2">
  <Info>
    <Name>Login Page</Name>
    <Icon>icon-logout color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="192fdc8a-9231-4072-bc61-353614151dea">sEOControls</Composition>
      <Composition Key="3795b597-5ccc-47d2-a82d-0555cadf053e">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>LoginPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b3813c7b-b53f-49ed-8541-3072751fb5f8">LoginPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>