<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f040e6d7-e3e4-4990-9c00-8890ceb42d7e" Alias="mainContentGridControl" Level="2">
  <Info>
    <Name>Main Content Grid Control</Name>
    <Icon>icon-defrag color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A Grid Control as the Main Content</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c7b148c9-1d77-4003-bb7e-394b42babaf3</Key>
      <Name>Main Content</Name>
      <Alias>mainContent</Alias>
      <Definition>6f359e09-7daa-49b5-bb1f-b7bb411c1e5d</Definition>
      <Type>Umbraco.Grid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add rows and fill in content]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7d053e30-0150-4d11-b78c-e39ce76442b8</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>