<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3a8a0a57-cc43-4b12-b399-2b2c236cf609" Alias="memberProfilePage" Level="2">
  <Info>
    <Name>Member Profile Page</Name>
    <Icon>icon-operator color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="3795b597-5ccc-47d2-a82d-0555cadf053e">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>MemberProfilePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bce9eb6b-a6dd-4e28-87cc-db2a5f7044e2">MemberProfilePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>