<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6ffe6d24-e819-49fd-9c2f-7b12a001184e" Alias="newsPage" Level="2">
  <Info>
    <Name>News Page</Name>
    <Icon>icon-newspaper-alt color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="192fdc8a-9231-4072-bc61-353614151dea">sEOControls</Composition>
      <Composition Key="3795b597-5ccc-47d2-a82d-0555cadf053e">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>NewsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="868ee0ef-27fe-4353-82d8-83f37a609541">NewsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="2dcc5359-c221-45b4-9ea2-fcb2cdfd5ca5" SortOrder="0">newsItemPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>