<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2dcc5359-c221-45b4-9ea2-fcb2cdfd5ca5" Alias="newsItemPage" Level="2">
  <Info>
    <Name>News Item Page</Name>
    <Icon>icon-article color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="28334b01-c4b0-4e81-abb5-d4c5a72a2c0a">mainContentRTFControl</Composition>
      <Composition Key="1486f306-871d-4465-a00e-dad249598e27">mainHeaderControls</Composition>
      <Composition Key="b74def83-fb45-43e9-9900-1a88393d54b8">mainImageControl</Composition>
      <Composition Key="ae92d0e1-4343-419e-9d0d-cd3911d13245">photoGalleryPickerControl</Composition>
      <Composition Key="192fdc8a-9231-4072-bc61-353614151dea">sEOControls</Composition>
      <Composition Key="3795b597-5ccc-47d2-a82d-0555cadf053e">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>NewsItemPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="38c819e7-b2bc-45f4-994f-ad7c13a936c5">NewsItemPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>023d313a-087f-47e5-af27-49572c2f9b66</Key>
      <Name>Author</Name>
      <Alias>author</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>98e9c40d-f74f-43d0-a6b6-3524823ba59e</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>