<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="06bfa3a3-5ca3-4232-b637-53d64483d031" Alias="photosPage" Level="2">
  <Info>
    <Name>Photos Page</Name>
    <Icon>icon-photo-album color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="1486f306-871d-4465-a00e-dad249598e27">mainHeaderControls</Composition>
      <Composition Key="b74def83-fb45-43e9-9900-1a88393d54b8">mainImageControl</Composition>
      <Composition Key="192fdc8a-9231-4072-bc61-353614151dea">sEOControls</Composition>
      <Composition Key="3795b597-5ccc-47d2-a82d-0555cadf053e">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>PhotosPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6207ac99-6f66-4995-ac3f-db324053da71">PhotosPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>353331fa-c558-4e9e-a34c-370e0d05cb4e</Key>
      <Name>multiTreePicker</Name>
      <Alias>multiTreePicker</Alias>
      <Definition>b7835014-543b-4db8-9078-5f96c912f4b6</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>012bfb10-0013-4218-80d5-03d2c924c830</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>