<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="22a2cbd2-18c7-48e7-a1c0-de1392b52bde" Alias="richTextBlockSettings" Level="4">
  <Info>
    <Name>Rich Text Block Settings</Name>
    <Icon>icon-font color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Settings+Models</Folder>
    <Compositions>
      <Composition Key="ff658e51-0311-48b6-a69c-9d35c5a50474">blockVisibilityControl</Composition>
      <Composition Key="2507cc1a-bbeb-4bee-874f-61e7f9f20b17">itemNameControl</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4480ca64-4cc0-450b-90f2-71642f53eef9</Key>
      <Name>Block Alignment</Name>
      <Alias>blockAlignment</Alias>
      <Definition>262ed138-5d5a-40fa-a949-5b41017af63e</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>12</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>462553df-005b-4fc3-90c7-ba70984d74e7</Key>
      <Name>Width</Name>
      <Alias>width</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>521952d7-4c11-41bf-9e89-d7017a125897</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>100</SortOrder>
    </Tab>
  </Tabs>
</ContentType>