<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="007aef5c-4576-419f-9e25-2e63badceff4" Alias="volunteerPage" Level="2">
  <Info>
    <Name>Volunteer Page</Name>
    <Icon>icon-war color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="28334b01-c4b0-4e81-abb5-d4c5a72a2c0a">mainContentRTFControl</Composition>
      <Composition Key="1486f306-871d-4465-a00e-dad249598e27">mainHeaderControls</Composition>
      <Composition Key="b74def83-fb45-43e9-9900-1a88393d54b8">mainImageControl</Composition>
      <Composition Key="ae92d0e1-4343-419e-9d0d-cd3911d13245">photoGalleryPickerControl</Composition>
      <Composition Key="192fdc8a-9231-4072-bc61-353614151dea">sEOControls</Composition>
      <Composition Key="3795b597-5ccc-47d2-a82d-0555cadf053e">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>VolunteerPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a21ede0d-83cf-4edf-813f-96e5ecb79f71">VolunteerPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>